.logo {
  display: flex;
  align-items: center;
  gap: 14px;
  text-decoration: none;
}

body.light-theme .logo-icon {
  filter: invert(1);
}

.logo-icon {
  width: 28px;
  height: 28px;
}

.logo-text {
  color: var(--light-primary);
  font-size: 18px;
  font-weight: 600;
  font-family: 'Manrope', sans-serif;
}

body.light-theme .logo-text {
  color: var(--dark-primary);
}
