:root {
  --bg-color: #0a0a11;
  --dark-blue: #161f37;
  --dirty-blue: #434d67;
  --blue-color: #4070cd;
  --light-green: #bce6d2;
  --light-primary: #f3f3f3;

  --input-bg: transparent;
}

:root {
  --font-main: 'Manrope', sans-serif;
}

body {
  font-family: var(--font-main);
  background-color: var(--bg-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
}

/* ---- LAYOUT ---- */
.auth-page {
  display: flex;
  align-items: center;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

.ellipse {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  pointer-events: none;
}

.auth-page::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 600px;
  height: 600px;
  background: radial-gradient(
    ellipse,
    rgba(64, 112, 205, 0.5) 0%,
    transparent 70%
  );
  pointer-events: none;
  z-index: 0;
}

/* ---- Image ---- */
.auth-image {
  position: absolute;
  right: 0;
  top: 0;
  width: 55%;
  height: 100%;
}

.auth-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Gradient */
.auth-image::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:
    linear-gradient(85.07deg, #0a0a11 5.92%, rgba(10, 10, 17, 0) 51.07%),
    linear-gradient(0.95deg, #0a0a11 -0.56%, rgba(10, 10, 17, 0) 21.93%);
}
